In [6]:
# %pip install pandas
# %pip install qgrid
#%pip install scikit-learn
#%pip install tensorflow

Analyse spinney green house prices

In [7]:
def preprocess_data(file_path):
    with open(file_path, 'r', encoding='utf-8') as file:
        content = file.read()
    
    houses_data = content.split('\n\n')
    
    # Clean up data
    houses_data = [house.replace('\n', ' ').replace('Â£', '£') for house in houses_data]
    
    return houses_data

import re
import pandas as pd


def parse_house_data(data):
    house_list = []
    for house in data:
        house_data = {}
        
        # Address
        address_parts = re.match(r'^(.*), (.*), (.*), (\w{2,4} \d{1,2}\w{0,2})', house)
        if address_parts:
            house_data['street'] = address_parts.group(1)
            house_data['area'] = address_parts.group(2)
            house_data['town'] = address_parts.group(3)
            house_data['postCode'] = address_parts.group(4)

        # Baths, beds, receptions
        for pattern, key in [(r'(\d+) baths', 'bathrooms'), (r'(\d+) beds', 'bedrooms'), (r'(\d+) receptions', 'receptions')]:
            match = re.search(pattern, house)
            house_data[key] = int(match.group(1)) if match else None

        # Lease, type
        match = re.search(r'(FREEHOLD|LEASEHOLD), (\w+ \w+|\w+)', house)
        if match:
            house_data['lease'] = match.group(1)
            house_data['type'] = match.group(2)

        # Last sold
        match = re.search(r'Last sold: (\w{3} \d{4}), £([\d,]+)', house)
        if match:
            house_data['lastSoldDate'] = match.group(1)
            house_data['lastSoldPrice'] = int(match.group(2).replace(',', ''))

        # Estimated price
        match = re.search(r'Estimated price: £([\d,]+) - £([\d,]+)', house)
        if match:
            house_data['estimatedPriceRange'] = [int(match.group(1).replace(',', '')), int(match.group(2).replace(',', ''))]
    
        house_list.append(house_data)

    return pd.DataFrame(house_list)

In [8]:
# Usage
file_path = 'spinney.txt'
data = preprocess_data(file_path)
print(data)
df = parse_house_data(data)
df.head(50)
# print(df)



# Save DataFrame to CSV
# df.to_csv('house_data.csv', index=False)

['25 Spinney Green, Eccleston, St. Helens, WA10 5AH 2 baths, 4 beds, 2 receptions FREEHOLD, DETACHED BUNGALOW Last sold: Oct 2020, £332,000 Estimated price: £403,000 - £446,000', '20 Spinney Green, Eccleston, St. Helens, WA10 5AH 2 baths, 4 beds, 2 receptions LEASEHOLD, DETACHED HOUSE Last sold: Oct 2020, £397,500 Estimated price: £471,000 - £520,000', '34 Spinney Green, Eccleston, St. Helens, WA10 5AH 2 baths, 4 beds, 3 receptions LEASEHOLD, DETACHED HOUSE Last sold: Sep 2019, £355,000 Estimated price: £435,000 - £481,000', '3 Spinney Green, Eccleston, St. Helens, WA10 5AH FREEHOLD, DETACHED BUNGALOW Last sold: May 2018, £245,000 Estimated price: £332,000 - £367,000', '15 Spinney Green, Eccleston, St. Helens, WA10 5AH 1 bath, 3 beds LEASEHOLD, DETACHED BUNGALOW Last sold: Apr 2018, £285,000 Estimated price: £334,000 - £408,000', '6 Spinney Green, Eccleston, St. Helens, WA10 5AH LEASEHOLD, DETACHED BUNGALOW Last sold: Jul 2017, £230,000 Estimated price: £301,000 - £368,000', '1 Spinney Green, Eccleston, St. Helens, WA10 5AH LEASEHOLD, DETACHED BUNGALOW Last sold: May 2017, £240,000 Estimated price: £320,000 - £353,000', '7 Spinney Green, Eccleston, St. Helens, WA10 5AH 4 beds, 2 receptions FREEHOLD, DETACHED HOUSE Last sold: Apr 2016, £308,000 Estimated price: £395,000 - £436,000', '19 Spinney Green, Eccleston, St. Helens, WA10 5AH 3 beds, 1 reception FREEHOLD, DETACHED BUNGALOW Last sold: Mar 2016, £255,000 Estimated price: £309,000 - £378,000', '5 Spinney Green, Eccleston, St. Helens, WA10 5AH 3 beds LEASEHOLD, DETACHED BUNGALOW Last sold: Jun 2013, £175,000 Estimated price: £284,000 - £347,000', '23 Spinney Green, Eccleston, St. Helens, WA10 5AH 4 beds, 1 reception FREEHOLD, DETACHED BUNGALOW Last sold: Nov 2012, £250,000 Estimated price: £410,000 - £453,000', '41 Lapinney Green, Eccleston, St. Helens, WA10 5AH 4 beds, 2 receptions FREEHOLD, DETACHED HOUSE Last sold: Apr 2010, £265,000 Estimated price: £395,000 - £482,000', '13 Spinney Green, Eccleston, St. Helens, WA10 5AH 2 beds FREEHOLD, DETACHED BUNGALOW Last sold: Nov 2008, £247,500 Estimated price: £344,000 - £420,000', '4 Spinney Green, Eccleston, St. Helens, WA10 5AH LEASEHOLD, DETACHED PROPERTY Last sold: Dec 2005, £210,000 Estimated price: £343,000 - £419,000', '12 Spinney Green, Eccleston, St. Helens, WA10 5AH FREEHOLD, DETACHED PROPERTY Last sold: Jun 2004, £243,000 Estimated price: £406,000 - £497,000', '17 Spinney Green, Eccleston, St. Helens, WA10 5AH LEASEHOLD, DETACHED BUNGALOW Last sold: Aug 1997, £77,000 Estimated price: £317,000 - £388,000', '50 Spinney Green, Eccleston, St. Helens, WA10 5AH FREEHOLD, DETACHED HOUSE Last sold: Nov 1995, £98,999 Estimated price: £430,000 - £525,000', '2 Spinney Green, Eccleston, St. Helens, WA10 5AH Last sold: (Not provided) Estimated price: £298,000 - £448,000', '8 Spinney Green, Eccleston, St. Helens, WA10 5AH Last sold: (Not provided) Estimated price: £301,000 - £452,000', '9 Spinney Green, Eccleston, St. Helens, WA10 5AH Last sold: (Not provided) Estimated price: £363,000 - £444,000', '10 Spinney Green, Eccleston, St. Helens, WA10 5AH Last sold: (Not provided) Estimated price: £308,000 - £462,000', '11 Spinney Green, Eccleston, St. Helens, WA10 5AH Last sold: (Not provided) Estimated price: £362,000 - £443,000', '14 Spinney Green, Eccleston, St. Helens, WA10 5AH Last sold: (Not provided) Estimated price: £357,000 - £437,000', '16 Spinney Green, Eccleston, St. Helens, WA10 5AH FREEHOLD, DETACHED HOUSE Estimated price: £375,000 - £458,000', '18 Spinney Green, Eccleston, St. Helens, WA10 5AH Estimated price: £369,000 - £451,000', '21 Spinney Green, Eccleston, St. Helens, WA10 5AH Estimated price: £330,000 - £496,000', '22 Spinney Green, Eccleston, St. Helens, WA10 5AH Estimated price: £373,000 - £455,000', '24 Spinney Green, Eccleston, St. Helens, WA10 5AH Estimated price: £330,000 - £496,000', '26 Spinney Green, Eccleston, St. Helens, WA10 5AH 4 beds, 1 reception FREEHOLD, DETACHED HOUSE Estimated price: £377,000 - £461,000', '27 Spinney Green, Eccleston, St. Helens, WA10 5AH Estimated price: £362,000 - £443,000', '28 Spinney Green, Eccleston, St. Helens, WA10 5AH Estimated price: £371,000 - £453,000', '30 Spinney Green, Eccleston, St. Helens, WA10 5AH Estimated price: £372,000 - £455,000', '32 Spinney Green, Eccleston, St. Helens, WA10 5AH 2 baths, 4 beds, 2 receptions FREEHOLD, DETACHED HOUSE Estimated price: £398,000 - £440,000', '36 Spinney Green, Eccleston, St. Helens, WA10 5AH DETACHED HOUSE Estimated price: £398,000 - £487,000', '38 Spinney Green, Eccleston, St. Helens, WA10 5AH FREEHOLD, DETACHED PROPERTY Estimated price: £381,000 - £466,000', '40 Spinney Green, Eccleston, St. Helens, WA10 5AH Estimated price: £382,000 - £467,000', '42 Spinney Green, Eccleston, St. Helens, WA10 5AH LEASEHOLD, DETACHED HOUSE Estimated price: £400,000 - £489,000', '46 Spinney Green, Eccleston, St. Helens, WA10 5AH Estimated price: £341,000 - £512,000', '48 Spinney Green, Eccleston, St. Helens, WA10 5AH Estimated price: £383,000 - £468,000']

,street,area,town,postCode,bathrooms,bedrooms,receptions,lease,type,lastSoldDate,lastSoldPrice,estimatedPriceRange
0,25 Spinney Green,Eccleston,St. Helens,WA10 5AH,2.0,4.0,2.0,FREEHOLD,DETACHED BUNGALOW,Oct 2020,332000.0,"[403000, 446000]"
1,20 Spinney Green,Eccleston,St. Helens,WA10 5AH,2.0,4.0,2.0,LEASEHOLD,DETACHED HOUSE,Oct 2020,397500.0,"[471000, 520000]"
2,34 Spinney Green,Eccleston,St. Helens,WA10 5AH,2.0,4.0,3.0,LEASEHOLD,DETACHED HOUSE,Sep 2019,355000.0,"[435000, 481000]"
3,3 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,FREEHOLD,DETACHED BUNGALOW,May 2018,245000.0,"[332000, 367000]"
4,15 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,3.0,NaN,LEASEHOLD,DETACHED BUNGALOW,Apr 2018,285000.0,"[334000, 408000]"
5,6 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,LEASEHOLD,DETACHED BUNGALOW,Jul 2017,230000.0,"[301000, 368000]"
6,1 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,LEASEHOLD,DETACHED BUNGALOW,May 2017,240000.0,"[320000, 353000]"
7,7 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,4.0,2.0,FREEHOLD,DETACHED HOUSE,Apr 2016,308000.0,"[395000, 436000]"
8,19 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,3.0,NaN,FREEHOLD,DETACHED BUNGALOW,Mar 2016,255000.0,"[309000, 378000]"
9,5 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,3.0,NaN,LEASEHOLD,DETACHED BUNGALOW,Jun 2013,175000.0,"[284000, 347000]"
10,23 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,4.0,NaN,FREEHOLD,DETACHED BUNGALOW,Nov 2012,250000.0,"[410000, 453000]"
11,41 Lapinney Green,Eccleston,St. Helens,WA10 5AH,NaN,4.0,2.0,FREEHOLD,DETACHED HOUSE,Apr 2010,265000.0,"[395000, 482000]"
12,13 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,2.0,NaN,FREEHOLD,DETACHED BUNGALOW,Nov 2008,247500.0,"[344000, 420000]"
13,4 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,LEASEHOLD,DETACHED PROPERTY,Dec 2005,210000.0,"[343000, 419000]"
14,12 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,FREEHOLD,DETACHED PROPERTY,Jun 2004,243000.0,"[406000, 497000]"
15,17 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,LEASEHOLD,DETACHED BUNGALOW,Aug 1997,77000.0,"[317000, 388000]"
16,50 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,FREEHOLD,DETACHED HOUSE,Nov 1995,98999.0,"[430000, 525000]"
17,2 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[298000, 448000]"
18,8 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[301000, 452000]"
19,9 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[363000, 444000]"
20,10 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[308000, 462000]"
21,11 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[362000, 443000]"
22,14 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[357000, 437000]"
23,16 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,FREEHOLD,DETACHED HOUSE,NaN,NaN,"[375000, 458000]"
24,18 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[369000, 451000]"
25,21 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[330000, 496000]"
26,22 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[373000, 455000]"
27,24 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[330000, 496000]"
28,26 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,4.0,NaN,FREEHOLD,DETACHED HOUSE,NaN,NaN,"[377000, 461000]"
29,27 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[362000, 443000]"
30,28 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[371000, 453000]"
31,30 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[372000, 455000]"
32,32 Spinney Green,Eccleston,St. Helens,WA10 5AH,2.0,4.0,2.0,FREEHOLD,DETACHED HOUSE,NaN,NaN,"[398000, 440000]"
33,36 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[398000, 487000]"
34,38 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,FREEHOLD,DETACHED PROPERTY,NaN,NaN,"[381000, 466000]"
35,40 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[382000, 467000]"
36,42 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,LEASEHOLD,DETACHED HOUSE,NaN,NaN,"[400000, 489000]"
37,46 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[341000, 512000]"
38,48 Spinney Green,Eccleston,St. Helens,WA10 5AH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[383000, 468000]"

In [ ]:
df.head(10)

In [ ]:
import qgrid

# Display the DataFrame using qgrid
qgrid_widget = qgrid.show_grid(df)
qgrid_widget

In [ ]:
import pandas as pd

# Replace 'your_file_path.csv' with the path to your CSV file
csv_file_path = 'house_data.csv'

# Read the CSV file into a pandas DataFrame
df = pd.read_csv(csv_file_path)

# Display the first 5 rows of the DataFrame
print(df.head())

In [14]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

# Load and preprocess data
data = pd.read_csv('house_data.csv')

print(data.head(10))

# Separate features and target variable
X = data.drop('Avg', axis=1)
y = data['Avg']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Preprocess categorical and numerical features
#categorical_features = ['street', 'area', 'town', 'postCode', 'lease', 'type']
categorical_features = ['type','location']
numerical_features = ['houseNumber','bathrooms', 'bedrooms', 'receptions']

preprocessor = ColumnTransformer(
    transformers=[
        ('num', SimpleImputer(strategy='median'), numerical_features),
        ('cat', Pipeline(steps=[('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
                                ('onehot', OneHotEncoder(handle_unknown='ignore'))]), categorical_features)])

# Preprocess the training and testing data
X_train_preprocessed = preprocessor.fit_transform(X_train)
X_test_preprocessed = preprocessor.transform(X_test)

# Normalize the target variable
scaler = StandardScaler()
y_train_scaled = scaler.fit_transform(y_train.values.reshape(-1, 1))
y_test_scaled = scaler.transform(y_test.values.reshape(-1, 1))

# Build the neural network
model = tf.keras.Sequential([
    tf.keras.layers.Dense(128, activation='relu', input_shape=(X_train_preprocessed.shape[1],)),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(1)
])

# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])

# Train the model
history = model.fit(X_train_preprocessed, y_train_scaled, epochs=200, validation_split=0.1, verbose=1)

# Evaluate the model
loss, mae = model.evaluate(X_test_preprocessed, y_test_scaled)
print(f'Mean Absolute Error: {mae}')

   houseNumber         street       area        town  postCode  bathrooms  \
0           50  Spinney Green  Eccleston  St. Helens  WA10 5AH          2
1           17  Spinney Green  Eccleston  St. Helens  WA10 5AH          1
2           12  Spinney Green  Eccleston  St. Helens  WA10 5AH          1
3            4  Spinney Green  Eccleston  St. Helens  WA10 5AH          1
4           13  Spinney Green  Eccleston  St. Helens  WA10 5AH          1
5           44  Spinney Green  Eccleston  St. Helens  WA10 5AH          1
6           23  Spinney Green  Eccleston  St. Helens  WA10 5AH          1
7            5  Spinney Green  Eccleston  St. Helens  WA10 5AH          1
8           19  Spinney Green  Eccleston  St. Helens  WA10 5AH          1
9            7  Spinney Green  Eccleston  St. Helens  WA10 5AH          1

   bedrooms  receptions  location      lease               type  yearSold  \
0         4           2         1   FREEHOLD     DETACHED HOUSE    1995.0
1         3           2         0  LEASEHOLD  DETACHED BUNGALOW    1997.0
2         4           2         1   FREEHOLD  DETACHED PROPERTY    2004.0
3         3           2         1  LEASEHOLD  DETACHED PROPERTY    2005.0
4         2           2         0   FREEHOLD  DETACHED BUNGALOW    2008.0
5         4           2         1        NaN     DETACHED HOUSE    2010.0
6         3           2         0   FREEHOLD  DETACHED BUNGALOW    2012.0
7         3           2         0  LEASEHOLD  DETACHED BUNGALOW    2013.0
8         3           2         0   FREEHOLD  DETACHED BUNGALOW    2016.0
9         4           2         1   FREEHOLD     DETACHED HOUSE    2016.0

   MonthSold  lastSoldPrice  lowEstimate  highEstimate     Avg
0       11.0        98999.0       430000        525000  477500
1        8.0        77000.0       317000        388000  352500
2        6.0       243000.0       406000        497000  451500
3       12.0       210000.0       343000        419000  381000
4       11.0       247500.0       344000        420000  382000
5        4.0       265000.0       400000        489000  444500
6       11.0       250000.0       410000        453000  431500
7        1.0       175000.0       284000        347000  315500
8        3.0       255000.0       309000        378000  343500
9        4.0       308000.0       395000        436000  415500
Epoch 1/10
1/1 [==============================] - 1s 944ms/step - loss: 0.9887 - mae: 0.7981 - val_loss: 2.5626 - val_mae: 1.4774
Epoch 2/10
1/1 [==============================] - 0s 48ms/step - loss: 1.7683 - mae: 1.1941 - val_loss: 1.5231 - val_mae: 0.9445
Epoch 3/10
1/1 [==============================] - 0s 41ms/step - loss: 0.9476 - mae: 0.8199 - val_loss: 1.2819 - val_mae: 0.8650
Epoch 4/10
1/1 [==============================] - 0s 40ms/step - loss: 0.6529 - mae: 0.5841 - val_loss: 1.8043 - val_mae: 1.2410
Epoch 5/10
1/1 [==============================] - 0s 47ms/step - loss: 0.9151 - mae: 0.7906 - val_loss: 1.7065 - val_mae: 1.2081
Epoch 6/10
1/1 [==============================] - 0s 39ms/step - loss: 0.8738 - mae: 0.7659 - val_loss: 1.3364 - val_mae: 1.0147
Epoch 7/10
1/1 [==============================] - 0s 34ms/step - loss: 0.6888 - mae: 0.6477 - val_loss: 0.9759 - val_mae: 0.7707
Epoch 8/10
1/1 [==============================] - 0s 36ms/step - loss: 0.5299 - mae: 0.5187 - val_loss: 0.8592 - val_mae: 0.7026
Epoch 9/10
1/1 [==============================] - 0s 40ms/step - loss: 0.5281 - mae: 0.5586 - val_loss: 0.9065 - val_mae: 0.7706
Epoch 10/10
1/1 [==============================] - 0s 55ms/step - loss: 0.6090 - mae: 0.6265 - val_loss: 0.8914 - val_mae: 0.7750
1/1 [==============================] - 0s 30ms/step - loss: 0.4606 - mae: 0.5677
Mean Absolute Error: 0.5677165985107422

In [15]:
# Assuming you have new_data as a DataFrame with the same columns as the original data
new_data = pd.read_csv('predictSet.csv')
print(new_data.head())
# new_data = pd.DataFrame({...})

# Preprocess the new data using the preprocessor
new_data_preprocessed = preprocessor.transform(new_data)

# Make predictions using the model
predictions_scaled = model.predict(new_data_preprocessed)

# Inverse-transform the predictions to the original scale
predictions = scaler.inverse_transform(predictions_scaled)

# Now, predictions will contain the estimated prices for the new data
print (predictions)

   houseNumber         street       area        town  postCode  bathrooms  \
0           50  Spinney Green  Eccleston  St. Helens  WA10 5AH          2

   bedrooms  receptions  location     lease            type  yearSold  \
0         4           2         1  FREEHOLD  DETACHED HOUSE      1995

   MonthSold  lastSoldPrice  lowEstimate  highEstimate  Avg
0         11          98999       430000        525000    0
1/1 [==============================] - 0s 61ms/step
[[483876.94]]